@model StrategicLegion.Models.StrategyModels.ChecklistModels.ChecklistGroup
<div class="newChecklistGroupDiv">
    <input type="text" id="NewGroupTextbox" class="newGroupTextbox" placeholder="Header Name" />
    <input type="button" id="NewGroupAddButton" value="+" class="newGroupAddButton" onclick="addChecklistGroup()" />
</div>
