@model StrategicLegion.Models.StrategyModels.ChecklistModels.ChecklistItem
<div class="newChecklistItemDiv">
    <input type="text" id="NewItemTextbox" class="newItemTextbox" placeholder="Item Name" />
    <input type="button" id="NewItemAddButton" value="+" class="newItemAddButton" onclick="addChecklistItem()" />
</div>